<div class="flex flex-column">
  <div class="w-full">
    <p-card>
      <ng-template pTemplate="header">
        <div class="flex justify-content-center mt-2">
          <h1>Our Team</h1>
        </div>
      </ng-template>
      <div class="flex flex-wrap flex-row justify-content-around">
        <div class="flex flex-column align-items-center">
          <p-image
            src="assets/images/adil-otha.jpg"
            alt="Image"
            height="200"
            width="200"
            styleClass="avatar-image"
          ></p-image>
          <h3>Adil Otha</h3>
        </div>
        <div class="flex flex-column align-items-center">
          <p-image
            src="assets/images/indu-munagapati.jpeg"
            alt="Image"
            height="200"
            width="200"
            styleClass="avatar-image"
          ></p-image>
          <h3>Indu Munagapati</h3>
        </div>
        <div class="flex flex-column align-items-center">
          <p-image
            src="assets/images/janvi_patel.jpg"
            alt="Image"
            height="200"
            width="200"
            styleClass="avatar-image"
          ></p-image>
          <h3>Janvi Patel</h3>
        </div>
        <div class="flex flex-column align-items-center">
          <p-image
            src="assets/images/meghdoot-ojha.jpg"
            alt="Image"
            height="200"
            width="200"
            styleClass="avatar-image"
          ></p-image>
          <h3>Meghdoot Ojha</h3>
        </div>
        <div class="flex flex-column align-items-center">
          <p-image
            src="assets/images/janvi-nayanbhai-patel.jpeg"
            alt="Image"
            height="200"
            width="200"
            styleClass="avatar-image"
          ></p-image>
          <h3>Janvi Nayanbhai Patel</h3>
        </div>
      </div>
    </p-card>
  </div>
  <div class="w-full mt-2">
    <p-card>
      <ng-template pTemplate="header">
        <div class="flex justify-content-center mt-2">
          <h1>About Wanderer</h1>
        </div>
      </ng-template>
      <div class="text-xl">
        The Wanderer Application is a travel companion platform where all
        enthusiastic travellers can find attractive and well-known places of
        attraction in their nearby locality with real-time map location. This
        application enriches the travel companions with more detailed
        information about the location through the reviews given by peer
        travellers who have previously visited that place. The core idea of this
        application is to multiply the travellers community where new travellers
        can get a fresh perspective of places through the memories shared by the
        other zealous travellers.
      </div>
    </p-card>
  </div>
</div>
