:host ::ng-deep{
    .p-card-header {
        height: 25vh;
    }
    .p-card-shadow{
        // apply box-shadow around the card
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }
}

.card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}