:host ::ng-deep{
    .custom-card {
        margin-top: 1rem !important;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        .p-card-body, .p-card-content {
            padding-top: 0.5rem !important;
            padding-bottom: 0.5rem !important;
        }        
    }
    .custom-card-header {
        font-weight: 400 !important;
        font-size: 1rem !important;
        margin-bottom: 0rem !important;
        color: #71717A !important;
        padding: 1rem 1.25rem !important;
        padding-bottom: 0rem !important;
    }
    .p-fieldset-content{
        // set padding top and bottom as 0
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
    .p-panel-content .blog-description img{
        width: 100% !important;
        height: auto !important;
    }
}

.comment-box{
    height: 50vh;
    overflow: auto;
    // set padding left and right as 0.5 rem
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
}