:host ::ng-deep {    
    .p-button {
        margin-right: .5rem;
    }
    .p-card-shadow{
        // apply box-shadow around all edges of the card
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.16), 0 0.5rem 1rem rgba(0, 0, 0, 0.23);
    }
}

.cursor-pointer {
    cursor: pointer;
}

.card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
