 <div id="login-wrapper">
<p-card header="Welcome to The Wanderer" subheader="Let's travel with us!!" [style]="{width: '360px',background: '#e7d6c0e3'}" styleClass="p-card-shadow">
    <ng-template pTemplate="header" class="justify-content-center">
        <img alt="Card" src="assets/images/login-logo.jpg">
    </ng-template>
    <p>Click the below button to explore the world with us</p>
    <ng-template pTemplate="footer">
        <p-button label="Login or Register with Google" icon="pi pi-check" (click)="onClick()" [style]="{background: '#a7865b',border: 'none'}"></p-button>
    </ng-template>
</p-card>
</div>

